    h2 {
      text-align: center;
      font-size: 2em;
    }

    section {
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;
      
    }

    .col1 {
      background-color: #a7c957;
      color: #000000;
    }

    .col2 {
      background-color: #bc4749;
      color: #fff;
    }

    .menu-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50%;
      flex-direction: column;
      margin-top: 50px;
      flex-wrap: wrap;
    }

    .menu-list a {
      background-color: #ffffff;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
    }

    .menu-list a:hover {
      transition: transform 0.3s;
      transform: scale(1.1);
      background-color: #D1CCDC;
    }

    .mini {
      width: 35%;
      margin: 10% auto 5px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .mini img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      cursor: pointer;
      margin: 0 auto;
      transition: transform 0.3s;
    }

    .mini img:hover {
      transform: scale(1.05);
    }

    #largeImage {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
      z-index: 10;
      background-color: white;
      padding: 10px;
      display: none;
      animation-fill-mode: forwards;
    }

    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000080;
      opacity: 0;
      display: none;
      z-index: 9;
      transition: opacity 0.4s ease;
    }

    #overlay.show {
      display: block;
      opacity: 1;
    }

    @keyframes zoomFadeIn {
      0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
      }

      100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    @keyframes zoomFadeOut {
      0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }

      100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    #btn {
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      color: #3a3a3a;
      border: 1px solid #5f5b5b;
      border-radius: 4px;
    }

    label {
      font-size: 20px;
    }