    <section>
    <h2>Вывод отрицательных чисел</h2>
    <p>Введите числа через запятую:</p>
    <input type="text" id="nums" placeholder="Например: 1,2.5,3">
    <button onclick="NegativeNum()">Let's go</button>
    <br><br>
    <textarea id="res1" rows="3" readonly placeholder="Результат"></textarea>
    <hr color="#4b1818">
    <h2>Слова палиндромы</h2>
    <p>Введите слова через запятую:</p>
    <input type="text" id="words" placeholder="Например: лол, кек, мода">
    <button onclick="Palindrome()">Let's go</button>
    <br><br>
    <textarea id="res2" rows="3" readonly placeholder="Результат"></textarea>
    </section>