 body{
    font-family: Arial;
    padding: 0 0 0 0; 
    margin: 0 0 0 0; 
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #f3e1dd;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.slider {
    background-color: #CC7178;
    height: 100%;
    width: 20%;
    transition: width 0.3s;
}

.main {
    background-color: #f3e1dd;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    z-index: 0;
}

.info {
    background-color: #f3e1dd;
    width: 100%;
    height: 7.5%;
}

.window {
    width: 100%;
    height: 92.5%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.famlab {
    display: flex;
    align-items: center;
    margin: 0 0.5%;
    gap: 10px;
    justify-content: space-between;
}


p.sss:hover {
    background-color: #d9ace2;
    cursor: pointer;
}

.sss {
    padding: 5%;
    margin: 0;
    background-color: #F6E4F6;
    border-bottom: 6px solid #CC7178;
}

.sss a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

i {
    font-size: 35px;
    cursor: pointer;
}

.slider.collapsed {
    width: 0;
}

.main.expanded {
    width: 100%;
}